
<!--<div class='container '>
<div class="row center">
    <h1>{{title}}</h1>
  <div class="col-xs-1">
    <label>Notas</label>
    <input type="number" class="form-control" placeholder="Nota 1" [(ngModel)]="nota1">
    <input type="number" class="form-control" placeholder="Nota 2" [(ngModel)]="nota2">
    <input type="number" class="form-control" placeholder="Nota 3" [(ngModel)]="nota3">
    <input type="number" class="form-control" placeholder="Nota 4" [(ngModel)]="nota4">
    <input type="number" class="form-control" placeholder="Nota 5" [(ngModel)]="nota5">
    <div class="col-xs-1">
    <label>Total Notas: {{nota1+nota2+nota3+nota4+nota5}}</label>
    </div>
  </div>
  <div class="col-xs-1">
    <label>porcentaje</label>
    <input type="number" class="form-control" placeholder="Porcentaje 1" [(ngModel)]="porce1">
    <input type="number" class="form-control" placeholder="Porcentaje 2" [(ngModel)]="porce2">
    <input type="number" class="form-control" placeholder="Porcentaje 3" [(ngModel)]="porce3">
    <input type="number" class="form-control" placeholder="Porcentaje 4" [(ngModel)]="porce4">
    <input type="number" class="form-control" placeholder="Porcentaje 5" [(ngModel)]="porce5">
      <div class="col-xs-1">
        <label>Total Porcentaje: {{porce1+porce2+porce3+porce4+porce5}}</label>
      </div>
  </div>
  <div class="col-xs-1">
    <label>Valor de la Nota</label>
    <label>{{nota1*porce1/100}}</label>
    <label>{{nota2*porce2/100}}</label>
    <label>{{nota3*porce3/100}}</label>
    <label>{{nota4*porce4/100}}</label>
    <label>{{nota5*porce5/100}}</label>
  </div>
  <div class="col-xs-1">
    
  </div>
  <div class="col-xs-1">
    
  </div>
  
  </div>
  <a class="btn-settings modal-trigger" href="#modal_settings"><span>configuración</span><i class="small mdi-action-settings"></i></a>
</div>-->

<!--<div class="col-xs-3">
<p class="bg-danger">vas a morir</p>
</div>-->


<div class='container '>
<div class="row center">
    <h1>{{title}}</h1>
  
  <table>
  <tr>
    <th>Notas</th>
    <th>% Notas</th>
    <th>Valor de la Nota</th>
  </tr>
  <tr>
    <td><input type="number" class="form-control" placeholder="Nota 1" [(ngModel)]="nota1"></td>
    <td><input type="number" class="form-control" placeholder="Porcentaje 1" [(ngModel)]="porce1"></td>
    <td><label>{{nota1*porce1/100}}</label></td>
  </tr>
  <tr>
    <td><input type="number" class="form-control" placeholder="Nota 2" [(ngModel)]="nota2"></td>
    <td><input type="number" class="form-control" placeholder="Porcentaje 2" [(ngModel)]="porce2"></td>
    <td><label>{{nota2*porce2/100}}</label></td>
  </tr>
  <tr>
    <td><input type="number" class="form-control" placeholder="Nota 3" [(ngModel)]="nota3"></td>
    <td><input type="number" class="form-control" placeholder="Porcentaje 3" [(ngModel)]="porce3"></td>
    <td><label>{{nota3*porce3/100}}</label></td>
  </tr>
  <tr>
    <td><input type="number" class="form-control" placeholder="Nota 4" [(ngModel)]="nota4"></td>
    <td><input type="number" class="form-control" placeholder="Porcentaje 4" [(ngModel)]="porce4"></td>
    <td><label>{{nota4*porce4/100}}</label></td>
  </tr>
  <tr>
    <td><input type="number" class="form-control" placeholder="Nota 5" [(ngModel)]="nota5"></td>
    <td><input type="number" class="form-control" placeholder="Porcentaje 5" [(ngModel)]="porce5"></td>
    <td><label>{{nota5*porce5/100}}</label></td>
  </tr>
  <tr>
    <td><label></label></td>
    <td><label>Total Porcentaje: {{porce1+porce2+porce3+porce4+porce5}}</label></td>
    <td><label>Tu Nota: {{(nota1*porce1/100)+(nota2*porce2/100)+(nota3*porce3/100)+(nota4*porce4/100)+(nota5*porce5/100)}}</label></td>
  </tr>
</table>
<br> 
<div class="row center">
  <ng-template #elseBlock> <h3><p class="bg-danger">{{malaza}}{{tuNota}}</p></h3> </ng-template>
  <div class="col-md-4" *ngIf="(nota1*porce1/100)+(nota2*porce2/100)+(nota3*porce3/100)+(nota4*porce4/100)+(nota5*porce5/100)>40;else elseBlock">
    <h2><p class="bg-success"> {{wenna}}</p></h2>
  </div>
  <div class="col-md-4"*ngIf="porce1+porce2+porce3+porce4+porce5!=porceok">
    <h3><p class="bg-danger">{{noporce}}</p></h3>
  </div>
  <div class="col-md-4" *ngIf="">
    lalalala
  </div>
</div>
</div>
</div>
  
