/* You can add global styles to this file, and also import other style files */
h1{
    font-family: 'Exo 2', sans-serif;
}

/*font-family: 'Dancing Script', cursive;*/
.row{
    text-align: center;
}
body{
    text-align: center;
}
/*Tabla*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}